{{!-- <!-- views/assignment1.hbs -->
<form action="/data/search/prdName/result" method="get">
  <label for="productName">Enter Product Name:</label>
  <input type="text" id="productName" name="productName" required>
  <input type="submit" value="Search">
</form>

<p>Entered Product Name: <span id="enteredProductName"></span></p>
<div id="searchResults"></div>

<script src="/assignment1.js"></script> --}}
